<div class="admin-container">
    <h2>Student Information</h2>

    <div class="top-group">
        <div class="count-div">
            <label for="totalStudents">Total Students: </label>
            <div class="totalCount">{{totalCount}}</div>
        </div>
        <div class="actions">
            <button class="add-button" (click)="toggleAttendance()">
                {{ isAttendanceActive ? 'Stop Attendance' : 'Start Attendance' }}
            </button>
            <button class="add-button" (click)="showAdd()">Add Student</button>
            <button class="add-button" (click)="exportToExcel()">Export to Excel</button>
            <!-- <button (click)="showCamera()">Emit</button> -->
        </div> 
    </div>

    <div class="filter-group">
        <label for="classFilter">Filter by Class:</label>
        <select class="class-selection" id="classFilter" [(ngModel)]="selectedClass" (change)="filterByClass()">
          <option value="">All</option>
          <option value="FE">F.E</option>
          <option value="SE">S.E</option>
          <option value="TE">T.E</option>
          <option value="BE">B.E</option>
        </select>
    </div>
      
      

    <div class="student-table">
        <table>
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>Department</th>
                    <th>Class</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of filteredStudents | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index">
                  <td>{{ (currentPage - 1) * 5 + i + 1 }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.rollno }}</td> 
                  <td>{{ student.department }}</td>
                  <td>{{ student.studentClass || student.class }}</td> 
                  <td>{{ student.email }}</td>
                  <td>{{ student.phoneno }}</td> 
                  <td><button class="edit-button" (click)="editStudent(student)">Edit</button></td>
                </tr>
              </tbody>
        </table>
        <pagination-controls style="display: flex; align-items: center; justify-content: flex-end;" (pageChange)="currentPage = $event"></pagination-controls>
    </div>

    <ng-template #noData>
        <p>No student data available.</p>
    </ng-template>
</div>