<div class="camera-container">
  <div class="student-info">
    <h3>Student Information</h3>
    <p><strong>Name:</strong> {{ studentInfo?.studentName }}</p>
    <p><strong>Roll No:</strong> {{ studentInfo.studentRollNo }}</p>
    <p><strong>Department:</strong> {{ studentInfo.studentDepartment }}</p>
    <p><strong>Year:</strong> {{ studentInfo.studentClass }}</p>
  </div>

  <div class="session-selector">
    <label for="session">Session:</label>
    <select id="session" [(ngModel)]="selectedSession">
      <option *ngFor="let session of availableSessions" [value]="session">{{ session }}</option>
    </select>
    <!-- <button (click)="showList()">emit</button> -->

    <label for="subject">Subject:</label>
    <select id="subject" [(ngModel)]="selectedSubject" [disabled]="!availableSubjects.length">
      <option *ngFor="let subject of availableSubjects" [value]="subject">{{ subject }}</option>
    </select>
  </div>

  <div class="camera-controls">
    <video #videoElement width="640" height="480" autoplay></video>
    <div class="camera-buttons">
      <button class="start-camera" (click)="startCamera()">Start Camera</button>
      <button class="capture-image" (click)="captureImage()">Capture Image</button>
      <button 
      class="mark-attendance" 
      (click)="compareImages()">
        Mark Attendance
      </button>
    </div>
  </div>

  <div *ngIf="capturedImage" class="captured-image">
    <h4>Captured Image:</h4>
    <img [src]="capturedImage" alt="Captured Image" width="320" height="240"/>
  </div>
</div>